/* Reset CSS */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
    padding: 0; margin: 0; font-size: 100%; font-weight: normal;
}
table{ border-collapse: collapse; border-spacing: 0; }
td, th, caption{ font-weight: normal; text-align: left; }
img, fieldset{ border: 0; }
ol{ padding-left: 1.4em; list-style: decimal; }
ul{ padding-left: 1.4em; list-style: square; }
q:before, q:after{ content: ''; }
/*Termina el Reset CSS*/



h1{
    font-size: 5em;
}
.tienda{
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(122, 192, 156);
}
.cabecera{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 2%;
}
.cuerpo{
    display: flex;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.carrito{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    gap:1%;
    border-left:2px solid black;
}
.claseListaCarrito{
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}
.claseDivImagenes{
    border: 3px solid black;
    border-radius: 10%;
    margin: 2%;
    background-color: white;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.289);
    cursor: grab;
}
.claseDivImagenes p{ /*Texto de los productos*/
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
.claseDivImagenes p:nth-child(2){ /*Nombre producto*/
    font-size: 2em;
}
.claseDivImagenes p:nth-child(3){ /*Nombre producto*/
    padding-top: 2%;
    padding-bottom:10%;
}
.listado{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.total{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: aquamarine;
}
.pie{
    background-color: black;
    color: white;
    padding: 2%;
}